<% if (title) { %>
    <h1 id="mainHeader"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<% messages() %>

<form>
    <div id="loginForm">
        <label for="email" class="above label">Email</label>
        <input type="email" id="email" name="account_email" required>
        <label for="password" class="above label">Password</label>
        <input type="password" id="password" name="account_password" required>
        <input type="submit" id="submit" value="Login">
        <p>No account? <a href="#">Sign Up</a></p>
    </div>
</form>
