<% if (title) { %>
    <h1 id="mainHeader"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %> <!-- Question:  Why this format? -->

<form id="logForm" action="/account/login" method="post">
    <div class="form" id="loginForm">
        <label for="account_email" class="above label">Email</label>
        <input type="email" id="email" name="account_email" value="<%= locals.account_firstname %>" required>
        <label for="account_password" class="above label">Password</label>
        <input type="password" id="password" name="account_password" required
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        <input type="submit" id="submit" value="Login">
        <p>No account? <a href="/account/register">Sign Up</a></p>
    </div>
</form>
